// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = Consolas
font-serif = Consolas
font-mono = Consolas
font-title = Consolas

// Width
page-width = 1200px