<div class="alignleft">
  <% if (config.author){ %>
  &copy; 2017-<%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; 2017-<%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
  </br>
  Powered by <a href="http://hexo.io" >Hexo</a>
</div>
<div class="clearfix"></div>